html,
body {
	background-color: #17191f !important;
	margin: 0;
	padding: 0;
	color: rgb(192, 192, 192) !important;
	font-family: 'Segoe UI', sans-serif !important;
	width: 350px;
}

p {
	font-size: 14px;
	padding: 0;
	margin: 0;
}

ul {
    list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: flex;
	align-items: center;
	font-size: 14px;
}

a {
	color: rgb(200, 200, 200) !important;
}

a:link {
	color: rgb(200, 200, 200) !important;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;

	font-size: 20px;
}

.header img {
	margin: 0 3px 0 10px;
}

.topText {
	display: flex;
	justify-content: center;
	align-items: center;
}

.github {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.main-des {
	background-color: #5594a8;
	color: #17191f;
	padding: 10px 15px;
	margin: 0 15px 15px 15px;
	border-radius: 5px;
}

.pending {
	color: rgb(212, 189, 159);
}

.platform-div {
	background-color: #23252c;
	padding: 10px 15px;
	margin: 0 15px 15px 15px;
	border-radius: 5px;
}

.button-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px 15px 15px;
}

.main-button {
	background-color: #a35656;
	color: rgb(192, 192, 192);
	font-size: 20px;
	border: 0;
	border-radius: 25px;
	cursor: pointer;
	padding: 5px;
	margin: 0;
	height: 70px;
	width: 70px;
	transition: all 0.2s ease;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px;
}

.openbt {
	background-color: #5594a8 !important;
}

.closebt {
	background-color: rgb(192, 192, 192) !important;
	color: #17191f !important;
}